.About {
  &-videos {
    height: calc(100vw * 9 / 16);
    max-height: calc(1024px * 9 / 16);
    width: 100%;
  }

  &-hobbies {
    .App-side.is-large {
      margin-left: -#{$unit * 5};
      padding: 0;
      width: calc(100% + #{$unit * 10});

      @media screen and (min-width: 720px) {
        margin: 0;
        width: 60%;
      }
    }
  }
}