.App {
  background-color: $brand;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;

  &-content {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }

  &-section {
    background-color: $white;
    display: block;
    margin: 0 auto;
    max-width: $max-width;
    padding: $unit * 10 $unit * 5;
    position: relative;
    text-align: center;
    z-index: 1;

    &:nth-child(odd) {
      background-color: $fake-white;
    }

    & > * {
      z-index: 1;
    }

    &.is-cover {
      &::before {
        background-image: url('../images/cover.jpeg');
        background-size: cover;
        bottom: 0;
        content: ' ';
        left: 0;
        opacity: 0.3;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;   
      }
    }

    @media screen and (min-width: 720px) {
      padding: $unit * 10;
    }
  }

  &-side {
    display: inline-block;
    padding: $unit * 5;
    text-align: left;
    vertical-align: middle;
    width: 100%;

    @media screen and (min-width: $max-width) {
      width: 40%;
  
      &.is-large {
        width: 60%;
      }
    }
  }

  &-side.is-left {
    .Heading,
    p {
      text-align: left;

      @media screen and (min-width: 1024px) {
        text-align: right;
      }
    }
  }
  
  &-side.is-right {
    .Heading,
    p {
      text-align: left;
    }
  }

  &-preview {
    max-width: 100%;
  }
}