// Colors
// Brands
.is-imperdible { color: $brand !important; }
.is-twitter { color: $twitter !important; }
.is-youtube { color: $youtube !important; }
.is-twitch { color: $twitch !important; }
.is-linkedin { color: $linkedin !important; }
.is-github { color: $github !important; }
.is-patreon { color: $patreon !important; }
.is-discord { color: $discord !important; }
.is-vscode { color: $vscode !important; }

// Products
.is-html { color: $html !important; }
.is-css { color: $css !important; }
.is-javascript { color: $javascript !important; }
.is-react { color: $react !important; }
.is-angular2 { color: $angular2 !important; }
.is-redux { color: $redux !important; }
.is-angular { color: $angular !important; }
.is-vue { color: $vue !important; }
.is-knockout { color: $knockout !important; }
.is-backbone { color: $backbone !important; }
.is-git { color: $git !important; }
.is-node { color: $node !important; }
.is-yarn { color: $yarn !important; }
.is-webpack { color: $webpack !important; }
.is-gulp { color: $gulp !important; }
.is-grunt { color: $grunt !important; }
.is-sass { color: $sass !important; }
.is-karma { color: $karma !important; }
.is-jasmine { color: $jasmine !important; }
.is-electron { color: $electron !important; }
.is-mysql { color: $mysql !important; }
.is-php { color: $php !important; }

// Text
.bold {
  font-family: $font-title;
  font-weight: 700;
  color: $gray-darker;
}

// Layout
.is-hidden { display: none !important; }
.is-left { float: left; }
.is-right { float: right; }

.clearfix {
  overflow: auto;

  &::after {
    content: ' ';
    clear: both;
    display: table;
  }
}

.clear {
  clear: both;
}