$unit: 4px;

// Colors
// Base
$real-white: #fff;
$white: #F9F9F9;
$fake-white: #f3f3f3;
$gray-lighter: #bbb;
$gray-light: #999;
$gray: #777;
$gray-dark: #555;
$gray-darker: #333;
$black: #111;

// Branding
$brand: #378637;
$brand-lighter: lighten($brand, 15);
$brand-darker: darken($brand, 15);

$alt: #ec6653;
$alt-lighter: lighten($alt, 15);
$alt-darker: darken($alt, 15);

// Brands
$patreon: #ec6653;
$github: #9f7be1;
$linkedin: #3c77b5;
$facebook: #4267b2;
$twitter: #53a1f3;
$youtube: #ff0000;
$twitch: #4b367c;
$discord: #7188db;
$vscode: #498fd7;

// Products
$html: #e44d27;
$css: #3b72b6;
$javascript: #cab511;
$react: #5cc1de;
$angular2: #3d72c8;
$redux: #754abc;
$angular: #de2331;
$vue: #4db084;
$knockout: #ec6f1b;
$backbone: #3a71b5;
$git: #333;
$node: #8fc53f;
$yarn: #4a99c5;
$webpack: #3e78c0;
$gulp: #e94b50;
$grunt: #f0aa1f;
$sass: #cf639a;
$karma: #59c6a8;
$jasmine: #8a4181;
$electron: #47848e;
$mysql: #577ea1;
$php: #8992be;

// Text
$font-title: 'Noto Serif', serif;
$font-text: 'Open Sans', sans-serif;

// Layout
$max-width: 1024px;

$header-height: $unit * 14;
$footer-height: $unit * 16;