.Header {
  &,
  &-bar,
  &-spacer {
    position: relative;
    display: block;
  }

  &-bar,
  &-spacer {
    height: $header-height;
    width: 100%;
  }

  &-bar {
    background-color: $brand;
    color: $white;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    overflow: hidden;
    z-index: 20;
  }

  &-spacer {
    z-index: 10;
  }

  &-nav {
    height: $header-height;
    margin: 0 auto;
    max-width: $max-width;
    text-align: left;
    width: 100%;
  }

  &-nav,
  &-item {
    color: $white;    
    display: inline-block;
    font-weight: 700;
    position: relative;
  }

  &-item {
    padding: 0 $unit * 2;
    vertical-align: middle;
  }

  &-link {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-weight: inherit;
    text-decoration: none;
  }

  &-logo,
  &-logotype {
    height: $unit * 10;
    margin-top: $unit * 2;
  }

  &-logotype {
    display: none;
  }

  @media screen and (min-width: 720px) {
    &-logo {
      display: none;
    }

    &-logotype {
      display: block;
    }
  }
}