// Google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Slick carousel
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import
  'abstracts/variables',
  'abstracts/helpers';

@import
  'components/avatar',
  'components/buttons',
  'components/contact',
  'components/heading',
  'components/link',
  'components/list',
  'components/slider',
  'components/support';

@import
  'shell/footer',
  'shell/header';

@import
  'modules/app',
  'modules/about',
  'modules/skills',
  'modules/work';

body, body * {
  box-sizing: border-box;
  font-family: $font-text;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: $brand;
  color: $gray-darker;
  font-size: 16px;
  line-height: 1.7em;
}

p {
  margin-bottom: $unit * 5;
}